@model DOC1.Send_Carga

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Send_Carga</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VE_TANQ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_TANQ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_PROD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_PROD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_LTRI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_LTRI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_LTRF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_LTRF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_AUM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_AUM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_GCF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_GCF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_TERM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_TERM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_TDOC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_TDOC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_FDOC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_FDOC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_FOLD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_FOLD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_VDOC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_VDOC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_HFI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_HFI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_VEHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_VEHI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_TREG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_TREG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_FOLR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_FOLR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_NPIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_NPIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_NDOC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_NDOC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_ENVIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_ENVIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_IDC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_IDC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_PRDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_PRDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_MONTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_MONTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_RFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_RFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_NUMCSGN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_NUMCSGN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_PC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_PC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_PAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_PAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_PERTRA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_PERTRA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_NOMPROV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_NOMPROV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_PERPROV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_PERPROV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_TP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_TP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_PI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_PI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_CLVPRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_CLVPRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_CLVSUBPRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_CLVSUBPRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_COCGAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_COCGAS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_GASETN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_GASETN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_CETNGAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_CETNGAS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_OTROS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_OTROS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VE_MARCA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VE_MARCA)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
